# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Secrets — never commit API keys
.env
.env.local
*.key
secrets.json

# Build / packaging
*.zip
dist/
node_modules/
